.formulario {
    display: flexbox;

   justify-content: center;
    height: 600px;
    width: 620px;
    background-color: rgba(190, 161, 149, 0.521);
      flex-direction: column;
      margin: 0 auto;
      padding: 1em;
}
.form label{
        align-self: center;
      color: rgba(53, 10, 207, 0.863);
    }
    .image{
    height: 250px;
    width: 340px;
        background-image: url('../../../public/fondo/2e00fd3b8917dc07f89d53daf666bc10.gif');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 100%;
    }
.image:hover{
height: 250px;
width:340px;
        background-image: url('../../../public/fondo/b70-0.gif');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 100%;
    }
.form{    
    text-align: center;
    height: 30%;
    width:100%;
    border:1px solid #0303032f;
  }
.boton {
    background-color: rgba(53, 10, 207, 0.863);
    color: white;
    padding: 0.5em;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
}
.inputmail {
    background-color: rgba(0, 0, 255, 0.212);
    color: rgba(53, 10, 207, 0.863);
    border: none;
    border-bottom: solid 2px rgba(10, 102, 207, 0.199);
    margin-bottom: 1em;
    padding: 0.5em;
    width: 10em;
    border-radius: 0.3em;
  }
.warning {
    border: solid red 1px;
    border-radius: 0.2em;
  }
  
.danger {
    font-size: 10px;
    color: red;
    margin-left: 10em;
  }
